<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xau.info.mapper.StuTaskMapper">
  <resultMap id="BaseResultMap" type="edu.xau.info.bean.StuTask">
    <id column="stuno" jdbcType="CHAR" property="stuno" />
    <id column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="subflag" jdbcType="INTEGER" property="subflag" />
    <result column="readflag" jdbcType="INTEGER" property="readflag" />
    <result column="remindflag" jdbcType="INTEGER" property="remindflag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="edu.xau.info.bean.StuTask">
    <result column="answer" jdbcType="LONGVARCHAR" property="answer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stuno, taskid, url, score, subflag, readflag, remindflag
  </sql>
  <sql id="Blob_Column_List">
    answer
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="edu.xau.info.bean.StuTaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stu_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="edu.xau.info.bean.StuTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stu_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>


  <select id="getAllSub" resultType="edu.xau.info.Vo.StuTaskVo">
SELECT
	s.`name`,
	t.taskid,
	s.stuno,
	t.answer
FROM
	student AS s,
	stu_task AS t
WHERE
	t.stuno = s.stuno
	AND t.subflag = 1
	AND t.taskid = #{taskid};

  </select>


  <select id="selectByPrimaryKey" parameterType="edu.xau.info.bean.StuTaskKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stu_task
    where stuno = #{stuno,jdbcType=CHAR}
      and taskid = #{taskid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="edu.xau.info.bean.StuTaskKey">
    delete from stu_task
    where stuno = #{stuno,jdbcType=CHAR}
      and taskid = #{taskid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.xau.info.bean.StuTaskExample">
    delete from stu_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.xau.info.bean.StuTask">
    insert into stu_task (stuno, taskid, url, 
      score, subflag, readflag, 
      remindflag, answer)
    values (#{stuno,jdbcType=CHAR}, #{taskid,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{score,jdbcType=REAL}, #{subflag,jdbcType=INTEGER}, #{readflag,jdbcType=INTEGER}, 
      #{remindflag,jdbcType=INTEGER}, #{answer,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.xau.info.bean.StuTask">
    insert into stu_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        stuno,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="subflag != null">
        subflag,
      </if>
      <if test="readflag != null">
        readflag,
      </if>
      <if test="remindflag != null">
        remindflag,
      </if>
      <if test="answer != null">
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        #{stuno,jdbcType=CHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="subflag != null">
        #{subflag,jdbcType=INTEGER},
      </if>
      <if test="readflag != null">
        #{readflag,jdbcType=INTEGER},
      </if>
      <if test="remindflag != null">
        #{remindflag,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.xau.info.bean.StuTaskExample" resultType="java.lang.Long">
    select count(*) from stu_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stu_task
    <set>
      <if test="record.stuno != null">
        stuno = #{record.stuno,jdbcType=CHAR},
      </if>
      <if test="record.taskid != null">
        taskid = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.subflag != null">
        subflag = #{record.subflag,jdbcType=INTEGER},
      </if>
      <if test="record.readflag != null">
        readflag = #{record.readflag,jdbcType=INTEGER},
      </if>
      <if test="record.remindflag != null">
        remindflag = #{record.remindflag,jdbcType=INTEGER},
      </if>
      <if test="record.answer != null">
        answer = #{record.answer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update stu_task
    set stuno = #{record.stuno,jdbcType=CHAR},
      taskid = #{record.taskid,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      subflag = #{record.subflag,jdbcType=INTEGER},
      readflag = #{record.readflag,jdbcType=INTEGER},
      remindflag = #{record.remindflag,jdbcType=INTEGER},
      answer = #{record.answer,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stu_task
    set stuno = #{record.stuno,jdbcType=CHAR},
      taskid = #{record.taskid,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      subflag = #{record.subflag,jdbcType=INTEGER},
      readflag = #{record.readflag,jdbcType=INTEGER},
      remindflag = #{record.remindflag,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.xau.info.bean.StuTask">
    update stu_task
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
      <if test="subflag != null">
        subflag = #{subflag,jdbcType=INTEGER},
      </if>
      <if test="readflag != null">
        readflag = #{readflag,jdbcType=INTEGER},
      </if>
      <if test="remindflag != null">
        remindflag = #{remindflag,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where stuno = #{stuno,jdbcType=CHAR}
      and taskid = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.xau.info.bean.StuTask">
    update stu_task
    set url = #{url,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      subflag = #{subflag,jdbcType=INTEGER},
      readflag = #{readflag,jdbcType=INTEGER},
      remindflag = #{remindflag,jdbcType=INTEGER},
      answer = #{answer,jdbcType=LONGVARCHAR}
    where stuno = #{stuno,jdbcType=CHAR}
      and taskid = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.xau.info.bean.StuTask">
    update stu_task
    set url = #{url,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      subflag = #{subflag,jdbcType=INTEGER},
      readflag = #{readflag,jdbcType=INTEGER},
      remindflag = #{remindflag,jdbcType=INTEGER}
    where stuno = #{stuno,jdbcType=CHAR}
      and taskid = #{taskid,jdbcType=INTEGER}
  </update>

</mapper>